.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App-header {
  background-color: #F5F0E0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 0, 0);
}
img {
  border-radius: 20px;
  margin: 3%;
  box-shadow: -5px 5px 10px rgb(163, 160, 160);
}

button {
  margin: 3%;
  width: 15vw;
  min-width: 100px;
  height: 2vh;
  min-height: 40px;
  border-radius: 5px;
  background-color: #D2DADA;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1vh;
}

button:hover {
  width: 20vw;
  height: 3vh;
  transition: 1s;
}

.redText {
  color: #E01300;
}

.blueText {
  color: #0069CC;
}

#modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;

}

#modal-container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  /* vw and vh */
  width: 100vw;
  height: 95vh;
  z-index: 2;

  /*flex stuff below*/
  display: flex;
  /* alignment on the MAIN axis (default horizontal) */
  justify-content: center;
  /* alignment on the CROSS axis (default vertical) */
  align-items: center;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 33vw;
  height: 33vh;
  background: #fff6f6;
}

